.cart {
  padding: 5rem 0 0 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item {
  margin-top: 3rem;
  width: 70%;
  border: 3px solid white;
  height: 10rem;
  display: flex;
  position: relative;
}
.remove {
  position: absolute;
  right: -1rem;
  top: -1rem;
  color: white;
  background-color: rgb(95, 0, 0);
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 1.9rem;
  font-weight: 700;
  border-radius: 2rem;
  cursor: pointer;
}
.item-img {
  height: 100%;
  width: 10%;
  object-fit: cover;
}
.item-info-container {
  display: flex;
  width: 90%;
}
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  flex: 1;
}
.quantity-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 0.5;
}
.quantity {
  display: flex;
  padding: 1rem 0 0;
}
.quantity-num {
  margin: 0 1rem;
}
.quantity-btn {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border-radius: 3rem;
  margin-top: -4px;
  font-weight: 700;
}
.checkout {
  padding: 0.7rem 3rem;
  margin: 3rem 1rem 0.5rem 0;
}
