.upload-container {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-image {
  margin-top: 1rem;
  background-color: #ffffff;
  width: 203px;
  height: 304.5px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.11);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.active {
  transform: scale(1.5);
}
.browse-style {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.3rem 3rem;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.preview-img {
  width: 203px;
  height: 304.5px;
  object-fit: cover;
}
#image1,
#image2,
#image3 {
  display: none;
}
.upload-info {
  padding: 2rem 0;
}
.upload-info div {
  margin-right: 1rem;
}
label {
  font-size: 1.3rem;
}
.first {
  flex: 1;
}
.normal-input {
  width: 40%;
}
.sec {
  flex: 1;
}
.discription {
  display: block;
  width: 70%;
  height: 70%;
  background-color: black;
  color: white;
  border-radius: 1rem;
  margin: 0.3rem 0;
  padding: 1rem;
  font-size: 0.7rem;
  max-width: 30rem;
  outline: none;
}
.third {
  flex: 1;
}

.sizes {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 1rem;
}

.sub-btn {
  width: 20%;
  margin: 1rem 0;
}
.category {
  margin-top: 4rem;
  width: 50%;
  height: 2rem;
  border: none;
  outline: none;
  background-color: #4d4d4d17;
}
.category option {
  background-color: #4d4d4d17;
}
