.sign-container {
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.sign {
  width: 80%;
  height: 100vh;

  border-radius: 2rem;
}
.input-container {
  flex-direction: column;
  width: 35%;
  padding-right: 4rem;
  border-right: 2px solid black;
}

.sign-img {
  margin-left: 20rem;
  height: 80%;
}
.sign-up-link {
  margin-top: 4rem;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
  width: 50%;
}
.sign-up-link:hover {
  color: rgb(25, 97, 81);
}
.warning {
  color: red;
  font-size: 1.3rem;
}
