.lg {
  font-size: 6rem;
  font-family: elsie, serif;
  font-weight: 500;
}
.md {
  font-size: 4rem;
  font-family: elsie, serif;
  font-weight: 500;
}
.sm {
  font-size: 2rem;
  font-weight: 500;
  font-family: elsie, serif;
}
@media screen and (max-width: 1400px) {
  .lg {
    font-size: 4rem;
  }
  .md {
    font-size: 3rem;
  }
  .sm {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.5rem !important;
  }
}
