* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: steelfish;
  src: url("./steelfish.regular.ttf");
}

body {
  background-color: #f9f6f7;
  font-family: steelfish, sans-serif;
  position: relative;
}
#root {
  position: relative;
}
/* .app {
  overflow: hidden;
} */
.animation {
  position: absolute;
  width: 100%;
  height: 800%;
  background-color: black;
  z-index: 100;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f4836;
}
::-webkit-scrollbar-track {
  padding: 1rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 30px 5px 9px #ffffff;
}

@font-face {
  font-family: elsie;
  src: url("./elsie.regular.ttf");
}
button {
  font-family: elsie, serif;
  background-color: black;
  color: white;
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 4rem;
}
h1 {
  font-size: 6rem;
  font-family: elsie, serif;
  font-weight: 500;
}
h2 {
  font-size: 5rem;
  font-family: steelfish, sans-serif;
  font-weight: 500;
}
h3 {
  font-size: 3rem;
  font-weight: 500;
  font-family: steelfish;
}
a {
  text-decoration: none;
  font-size: 1.6rem;
  color: black;
}
p {
  font-size: 1.2rem;
}
/* @keyframes animate {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
} */
/* @media screen and (max-width: 1600px) {
  .app {
    padding: 0 100px;
  }
  h1 {
    font-size: 3.5rem;
  }
} */
/*custom classes  */
.flex {
  display: flex;
}
.flex-c {
  justify-content: center;
  align-items: center;
}
.flex-sa {
  justify-content: space-around;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-c {
  justify-content: center;
  flex-direction: column;
}
.flex-col-sa {
  justify-content: space-around;
  flex-direction: column;
}
